@(group: Group)
@import controllers.routes.GroupController
@import views.html.helper._
@views.html.main("グループ詳細") {
<dl>
	<dt>グループ名</dt>
	<dd>@group.name</dd>
	<dt>メンバー一覧</dt>
	<dd>
		<table>
			<thead>
				<tr>
					<th>メンバー名</th>
					<th>誕生日</th>
				</tr>
			</thead>

			<tbody>
				@group.members.map { member =>
				<tr>
					<td>@member.name</td>
					<td>@member.birthday</td>
				</tr>
				}
			</tbody>

		</table>
	</dd>
</dl>
<a href="@GroupController.edit(group.id)">編集</a>
|
<a href="@GroupController.delete(group.id)">削除</a>
<br>
<a href="@GroupController.list()">一覧へ戻る</a>
}
